.Box1 {
    border: 2px solid black;
    height: 250px;
    width: 220px;
    margin: auto;
}

body {
    display: flex;
    text-align: center;
    padding: 200px 300px;
}

h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.img1 {
    height: 70px;
    width: 70px;
    background-image: url("https://cdn-icons-png.flaticon.com/512/733/733579.png"); 
    background-size: cover;
}

.img2 {
    height: 70px;
    width: 70px;
    background-image: url("https://cdn-icons-png.flaticon.com/512/2111/2111463.png"); 
    background-size: cover;
}

.img3 {
    height: 70px;
    width: 70px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/b8/YouTube_Logo_2017.svg"); 
    background-size: cover;
}

button {
    height: 40px;
    width: 150px;
    border-radius: 20px;
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
